				<!-- Section -->
					<section>
						<header>
							<h2>Referências </h2>
						</header>
						<div class="content">
							<p><strong>Sites que eu usei como referência para essa aplicação.</strong> </p>
							<p>1.<a href="http://www.di.fc.ul.pt/~jpn/r/EM/EM.html">Expectation-Maximization</a>		
							</p>
							<p>2.<a href="http://rstudio-pubs-static.s3.amazonaws.com/1001_3177e85f5e4840be840c84452780db52.html" >Understanding the EM Algorithm</a>			</p>
							<p>3.<a href="https://pt.wikipedia.org/wiki/Algoritmo_de_maximiza%C3%A7%C3%A3o_de_expectativa" >Wikipedia</a>			</p>
							
							<ul class="actions">
								<li><a href="https://github.com/thalisreboucas/alem" class="button primary large">Codigos no Github</a></li>
							<!--	<li><a href="#" class="button large">Learn More</a></li> -->
							</ul>
						</div>
					</section>
					
						<!-- Copyright -->
					<div class="copyright">&copy; Thalis Rebouças. Todos os Direitos Reservados. Design: <a href="https://html5up.net">HTML5 UP</a>.</div>



