        <!-- Section first (Apresetation of Al.EM )  -->
<section id="first">
						<header>
							<h2>O que é o Algoritimo EM ?</h2>
						</header>
						<div class="content">
							<p><strong>Algoritmo de maximização de expectativa</strong>.
							É um método interativo baseado em uma maximização para estimar os parâmentros da distribuições apatir dos dados da amostra. Os dados podem ser variáveis latentes, ou seja, não observadas de forma quantativa inicialmente, nesta ferramentas pode utilizar o banco de dados com dados faltantes ,pois em uma das etapas ocorre a inputanção de dados para estimar o modelo. </p> 
							<p>
							A iteração EM alterna entre executar uma etapa de expectativa (E), e uma de maximização (M). A etapa de expectativa cria uma função para a expectativa da verossimilhança logarítmica usando a estimativa atual para os parâmetros. A etapa de maximização (M), calcula parâmetros para maximizar a verossimilhança logarítmica encontrada na etapa E. Essas estimativas de parâmetro são usadas para determinar a distribuição das variáveis latentes na próxima etapa E, e o algoritmo se repete várias vezes (por isso é chamado iterativo).</p>
							
							<!--<span class="image main"><img src="images/pic02.jpg" alt="" /></span>-->
							
						</div>
</section>