<!-- R aplication -->


                  <section>
									<header>
										<h3>Mixtura de modelos com EM </h3>
										<p> <strong>Mixtura de modelos  </strong> Nas estatísticas,um modelo de mistura é um modelo probabilístico para representar a presença de subpopulações dentro de uma população geral, sem exigir que um conjunto de dados observados deva identificar a subpopulação à qual pertence uma observação individual. </p>
									</header>
									<div class="content">
									  <p>Escreva aqui...</p>
									</div>
								</section>


						
								
							