<!-- R aplication --> 

							  <!-- Section -->
								<section>
									<header>
										<h3> Imputação de Dados com <strong>Amelia</strong> </h3>
										<p> É uma parte da manipulação/tratamento de dados que substiu os valores <strong>NA</strong> por meio de técnicas estatísticas para melhorar os valores da amostra.
										</p>
										<p>
										  <a href="https://cran.r-project.org/web/packages/Amelia/index.html">Amelia</a> é um pacote para dados faltantes e possui o <strong>EM</strong> como um método de imputação.
										</p>
									</header>
									<div class="content">
									  <!-- Escrever -->
									  <p>Escreva aqui...</p>
									</div>
								</section>


							<!-- Section -->
								<section>
									<header>
										<h3>Cluster com o Algoritimo EM</h3>
										<p> <strong>Cluster </strong> é uma ferramenta para analise de agrupamento na qual tenda separar em grupo dados segunda o seu grau de semelhança.</p>
									</header>
									<div class="content">
									 <!-- Escrever -->
									  <p>Escreva aqui...</p>
									</div>
								</section>
								
								<!--
													  <iframe width='100%' height='300' src='https://rdrr.io/snippets/embed/' frameborder='0'></iframe>
							-->