 <!-- shiny stuff
        ================================================== -->
    {{ headContent() }}
    
    <style>.selectize-dropdown {z-index: 10000}</style>

<header class="s-header">

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Fechar</span></a>

            <div class="header-nav__content">
                <h3>Navegação</h3>
                
                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                    <li><a class="smoothscroll"  href="#about" title="about">Introduction</a></li>
                    <li><a class="smoothscroll"  href="#works" title="works">Trip Maps</a></li>
                </ul>

    
                <ul class="header-nav__social">
                    <li>
                        <a href="https://facebook.com/vivek.katial"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/vivekkatial"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/vivekkatial/"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->