<section id = "second">
						<header>
							<h2>Aplicações dessa ferramenta</h2>
						</header>
						<div class="content">
							<p><strong>Algoritmo de maximização de expectativa</strong> tem como umas principais aplicações em <strong>"Machine Learning"</strong> , <strong>"Visão Computacional"</strong> e <strong> modelagem estatísca</strong>.</p>
							<p> Tem alguns aplicações em <strong>"NLP"</strong>(Processsamento de Linguagem Natural). 
							</p>
							
						</div>
					</section>


<section id = "second_1">
						<header>
							<h2>Vantagens dessa ferramenta</h2>
						</header>
						<div class="content">
							<p><strong>Escreva aqui "..." </strong></p>
							<ul class="feature-icons">
								<li class="icon solid fa-laptop"> ... </li>
								<li class="icon solid fa-bolt"> ... </li>
								<li class="icon solid fa-cog">Etapas Bem definidas</li>
								<li class="icon solid fa-code">Fácil implementação</li>
							</ul>
							<p><strong>Escreva aqui "..." </strong></p>
						</div>
					</section>
