<section id = "second">
						<header>
							<h2>Aplicações dessa ferramenta</h2>
						</header>
						<div class="content">
							<p><strong>Algoritmo de maximização de expectativa</strong> tem como umas principais aplicações em <strong>"Machine Learning"</strong> , <strong>"Visão Computacional"</strong> e <strong> modelagem estatísca</strong>.</p>
							
							<p> Tem alguns aplicações em <strong>"NLP"</strong>(Processsamento de Linguagem Natural).duas instâncias proeminentes do algoritmo são o algoritmo de Baum-Welch para modelos ocultos de Markov e o algoritmo de dentro para fora para indução não supervisionada de gramáticas livres de contexto estocásticas.
							</p>
							<p>
							  Tem alguns aplicações na área da saúde como a reconstrução de imagens médicas, especialmente em tomografia por emissão de pósitrons, tomografia computadorizada por emissão de fóton único, e tomografia computadorizada ,na área da psicometria, o EM é quase indispensável para estimar parâmetros de itens e habilidades latentes nos modelos de teoria de respostas ao item.O algoritmo de EM é usado para estimativa de parâmetros de modelos de misturas gaussianas,principalmente na genética quantitativa.
							</p>
							<p>
							  Na engenharia estrutural, o algoritmo de Identificação Estrutural usando Maximização de Expectativas (STRIDE, sigla do inglês) é um método somente de saída para identificar propriedades de vibração natural de um sistema estrutural usando dados de sensores (consulte Análise Modal Operacional).
							</p>
							
						</div>
					</section>


<section id = "second_1">
						<header>
							<h2>Vantagens dessa ferramenta</h2>
						</header>
						<div class="content">
							<p><strong>Escreva aqui "..." </strong></p>
							<ul class="feature-icons">
								<li class="icon solid fa-bolt"> Cada interação é garatindo que verossimilhança aumentará </li>
								<li class="icon solid fa-cogs"> Etapas Bem definidas </li>
								<li class="icon solid fa-code"> Fácil implementação </li>
								<li class="icon solid fa-magic"> Possui mais de uma função </li>
							</ul>
							<p><strong>Algumas desvatagens</strong></p>
							<p>Pode ter uma convergência lenta.Faz convergência apenas para o local ótimo e requer tanto as probabilidades, para frente e para trás (a otimização numérica requer apenas probabilidade para a frente).</p>
						</div>
					</section>
