          <!-- Section -->
          <section id = "third">
						<header>
							<h2>Implementação em R</h2>
						</header>
						<div class="content">
							<p><strong>Integer mollis egestas</strong> nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>

	                <!-- Section -->
								<section>
									<header>
										<h3>Achando paramentros com o Algoritimo EM</h3>
										<p>Vehicula ultrices dolor amet ultricies et condimentum. Magna sed etiam consequat, et lorem adipiscing sed dolor sit amet, consectetur amet do eiusmod tempor incididunt  ipsum suspendisse ultrices gravida.</p>
									</header>
									<div class="content">
									</div>
								</section>



							<!-- Section -->
								<section>
									<header>
										<h3>Cluster com o Algoritimo EM</h3>
										<p>Vehicula ultrices dolor amet ultricies et condimentum. Magna sed etiam consequat, et lorem adipiscing sed dolor sit amet, consectetur amet do eiusmod tempor incididunt  ipsum suspendisse ultrices gravida.</p>
									</header>
									<div class="content">
									</div>
								</section>
								
								
									<!-- Section -->
								<section>
									<header>
										<h3>Imputação de dados com o Algoritimo EM</h3>
										<p>Vehicula ultrices dolor amet ultricies et condimentum. Magna sed etiam consequat, et lorem adipiscing sed dolor sit amet, consectetur amet do eiusmod tempor incididunt  ipsum suspendisse ultrices gravida.</p>
									</header>
									<div class="content">
									</div>
								</section>

