          <!-- Section third ( Show the App )  -->
          <section id = "third">
						<header>
							<h2>Implementação em R</h2>
						</header>
						<div class="content">
							 <!-- Escrever -->
									  <p>A seguir iremos motrar um pouco dessa ferramenta com aplicações em dados por meio do programa <strong>R</strong> e essa ferramenta está presente em alguns <strong>pacotes</strong> como "EMCluster","frailtyEM","turboEM" ,etc.</p>
									  <p> É importante saber algumas etapas e alguns conceitos que é nescessário para a aplicação. 
									  </p>
									  </div>
							</section>
							  
							  <!-- Maxima Verossimilhança -->
							  
							  <section>
						<header>
						  <h2> Função de Maxima Verossimilhança</h2>
						</header>
						<div class="content">
						  <p> Conhecemos essa função de inferência que serve para <strong>estimar estatísticas populacionais </strong>.
						  De maneira geral, posto um conjunto de dados e um modelo estatístico, o método de máxima verossimilhança estima os valores dos diferentes parâmetros do modelo estatístico de maneira a maximizar a probabilidade dos dados observados (isto é, busca parâmetros que maximizem a função de verossimilhança). É importante saber um pouco dessa função para essa aplicação.
						  </p>
						</div>
						</section>

                <!-- Section -->
								<section>
									<header>
										<h3> Imputação de Dados com <strong>Amelia</strong> </h3>
										<p> É uma parte da manipulação/tratamento de dados que substiu os valores <strong>NA</strong> por meio de técnicas estatísticas para melhorar os valores da amostra.
										</p>
										<p>
										  <a href="https://cran.r-project.org/web/packages/Amelia/index.html">Amelia</a> é um pacote para dados faltantes e possui o <strong>EM</strong> como um método de imputação.
										</p>
									</header>
									<div class="content">
									  <!-- Escrever -->
									  <p>Escreva aqui...</p>
									</div>
								</section>


							<!-- Section -->
								<section>
									<header>
										<h3>Cluster com o Algoritimo EM</h3>
										<p> <strong>Cluster </strong> é uma ferramenta para analise de agrupamento na qual tenda separar em grupo dados segunda o seu grau de semelhança.</p>
									</header>
									<div class="content">
									 <!-- Escrever -->
									  <p>Escreva aqui...</p>
									</div>
								</section>
								
								<!--
													  <iframe width='100%' height='300' src='https://rdrr.io/snippets/embed/' frameborder='0'></iframe>
							-->
									